# Web Framework
Flask
Werkzeug
Jinja2
python-dotenv

# Parsing and NLP
transformers
huggingface-hub
thefuzz
python-dateutil
phonenumbers

# Logging and Validation
json-log-formatter
jsonschema

# Testing
pytest
pytest-mock

# Code Quality
flake8
black
isort

# Documentation
Sphinx